# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/.venv/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Environment
.env
.env.*

!.env.example

# VSCode
.vscode/

# Node
frontend/node_modules/

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db